@import './utilities/extends';
@import './utilities/mixins';
@import './utilities/variables';

@import './layout/footer';

@import './reset/reset';

@import './mq/mq';

@import './components/buttoms';
@import './components/logo';

/* index */ /* body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e9d9d6;
  color: $textoClaro;
  text-align: center;
  padding: 2rem;
}

/* header */
header img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #5e4a47;
  margin-bottom: 1rem;
}

/* botón de reserva */

/* sección de servicios */
.section {
  @include flex-center(row, wrap, 2rem);
  margin-top: 2rem;
}

.service {
  @extend %border;
  background-color: #5e4a47;
  color: $textoClaro;
  padding: 1rem;
  width: 140px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  @include transition(transform, 0.3s);

  @include hover-scale(1.05);

  img {
    width: 40px;
    margin-bottom: 0.5rem;
  }
}

/* biografía del owner */
.bio {
  @extend %flexCenter;
  gap: 2rem;
  @extend %cardSoft;
  padding: 2rem;
  text-align: left;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

// Animacion
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bio-img {
  @extend %perfil;
}

.bio-img-full {
  width: 100%;
  max-width: 200px;
  height: auto;
  @extend %border;
  border: 3px solid $textoOscuro;
}

.bio-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #5e4a47;
}

/* página de reserva */
.reservacion {
  @extend %cardSoft;
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;
  @include flex-center(column, nowrap, 1rem);
  align-items: stretch;
  label {
    text-align: left;
    font-weight: 500;
  }

  input,
  select,
  textarea {
    @include input-base;
  }

  button {
    align-self: center;
  }
}

/* página de peluquería */
.navbar {
  background-color: $textoClaro;
}
.navbar-brand {
  height: 30px;
  width: auto;
}
.divNavbar {
  color: #d38484;
}
.container {
  color: #000000;
}
.carousel {
  background-color: #d38484;
}

/* página de manicura */
.galeria-uñas {
  padding: 2rem;
  background-color: #fff9f6;

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #5e4a47;
  }
}

.grid-uñas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;

  img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @include transition(transform, 0.3s);
    @include hover-scale(1.05);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff9f6;
  color: #5e4a47;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.card h5 {
  font-weight: 600;
}
